---
layout: home
title: Blog
---

<div class="page-wrappers">
    <!-- START CONTACT SECTION -->

    <section class="p-b-100  sm-p-b-30 sm-m-b-30 bg-master-lighter" style="padding-top: 160px;">

        <div class="social-wrapper">
            <!-- START SOCIAL -->
            <div class="social " data-pages="social">
                <div class="feed">
                    <!-- START DAY -->
                    <div class="day" data-social="day" style="position: relative; width: 940px; height: 885px;">

                        {% for post in site.posts %}
                        <!-- START ITEM -->
                        <div class="card share col1" data-social="item" style="">
                            <div class="circle" data-toggle="tooltip" title="Label" data-container="body">
                            </div>
                            {% if post.splash %}
                            <div class="card-content">
                                <img alt="Person photo" src="{{ post.splash }}" class="lazy loaded loaded">
                            </div>
                            <div class="card-description" style="border-bottom: 1px solid #daeffd;">
                                <h4>{{ post.title }}</h4>
                                <div><a class="semi-bold" href="{{ post.url }}">Read More</a></div>
                            </div>
                            {% endif %}
                            <div class="card-header clearfix" href="#4">
                                <div class="user-pic">
                                    <img alt="Profile Image" width="33" height="33" data-src-retina="/assets/images/profiles/{{ post.author_avatar }}" data-src="/assets/images/profiles/{{ post.author_avatar }}" src="/assets/images/profiles/{{ post.author_avatar }}">
                                </div>
                                <h5>{{ post.author_name }}</h5>
                                <h6>
                                <span class="location semi-bold"><i class="fa fa-calendar-o"></i> {{ post.date | date_to_long_string }}</span>
                            </h6>
                            </div>
                            {% unless post.splash %}
                            <div class="card-description">
                                <h4>{{ post.title }}</h4>
                                <p>{{ post.excerpt }}</p>
                                <div><a class="semi-bold" href="{{ post.url }}">Read More</a></div>
                            </div>
                            {% endunless %}
                        </div>
                        <!-- END ITEM -->
                        {% endfor %}
                    </div>
                    <!-- END DAY -->
                </div>
                <!-- END FEED -->
            </div>
        </div>

    </section>


    <!-- END CONTACT SECION -->
</div>
