<!-- BEGIN FOOTER -->
<section class="p-b-55 p-t-75 xs-p-b-20 bg-master ">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-12 xs-m-b-40">
        <img src="/assets/images/logo_white.png" height="36" data-src-retina="/assets/images/logo_white_2x.png" class="alt" alt="">
      </div>
      <div class="col-sm-2 col-xs-6 xs-m-b-20"></div>
      <div class="col-sm-2 col-xs-6 xs-m-b-20"></div>
      <div class="col-sm-2 col-xs-6 xs-m-b-20">
        <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Solutions </h6>

        <ul class="no-style">
          <h6 class="font-montserrat text-uppercase fs-11 text-white p-b-10">By Service </h6>
          <li class="m-b-5 no-padding"><a href="/services/cybersecurity.html" class="link text-white ">Cybersecurity</a></li>
          <li class="m-b-5 no-padding"><a href="/services/msp.html" class="link text-white">Managed Services</a></li>
          <li class="m-b-5 no-padding"><a href="/services/it_due_diligence.html" class="link text-white">IT Due Diligence</a></li>
          <h6 class="font-montserrat text-uppercase fs-11 text-white p-b-10">By Industry </h6>
          <li class="m-b-5 no-padding"><a href="/industry/healthcare.html" class="link text-white">Healthcare</a></li>
          <li class="m-b-5 no-padding"><a href="/industry/private_equity.html" class="link text-white">Private Equity</a></li>

        </ul>
      </div>
      <div class="col-sm-2 col-xs-6 xs-m-b-20">
        <h6 class="font-montserrat text-uppercase fs-14 text-white p-b-10">Company </h6>
        <ul class="no-style">
          <li class="m-b-5 no-padding"><a href="/about/who_we_are.html" class="link text-white ">Who We Are</a></li>
          <li class="m-b-5 no-padding"><a href="/about/careers.html" class="link text-white">Careers</a></li>
          <li class="m-b-5 no-padding"><a href="/contact.html" class="link text-white">Contact Us</a></li>
          <li class="m-b-5 no-padding"><a href="/about/support.html" class="link text-white">Support</a></li>
          <li class="m-b-5 no-padding"><a href="/blog.html" class="link text-white">Blog</a></li>
        </ul>
      </div>

    </div>
    <p class="fs-12 hint-text p-t-10 text-white">Copyright &copy; 2017 Paranet. All Rights Reserved </p>
  </div>
</section>
<!-- END FOOTER -->
